<!DOCTYPE html>
<html>
  <head>
    <title>IllogicalArtist</title>
    <meta name="description" content="The portfolio of Jennifer Currie">
    <link id="favicon" rel="icon" href="http://res.cloudinary.com/ronanland/image/upload/v1453598201/logo-favicon_lvwfon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Original CSS -->
  <link rel="stylesheet" href="style.css">

  </head>

<body>

  <nav id="myTopNavPush" class='topNav topNavPush'>
    <ul class='menuItems'>
      <li class='menuItem'><a href="#home">Home</a></li>
      <li class='menuItem'><a href="#about">About</a></li>
      <li class='menuItem'><a href="#portfolio">Portfolio</a></li>
      <li class='menuItem'><a href="#skills">Skills</a></li>
      <li class='menuItem'><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <div id="container">
    <div id="content">

      <section id="home">
        <h1>Illogical Artist</h1>
        <p>Starting with Creativity, Reaching For the Stars</p>
      </section>

      <section id="about">
        <h2>About Me</h2>
        <img id="thatsMe" src="http://res.cloudinary.com/ronanland/image/upload/v1473911600/avatar_me_ayjiq9.jpg" alt="anime drawing of Jennifer">
      </section>

      <section id="portfolio">
        <h2>Portfolio</h2>

        <ul id='projectGrid'>
          <li>
            <a class='projectGridCell' href="http://codepen.io/renestl/full/mVLQEp/">
              <img class='projectGridImg' src="http://res.cloudinary.com/ronanland/image/upload/v1454013935/Screenshots/GetMeThere.io.png" alt="screenshot of GetMeThere.io">
              <span class="projectGridOverlay"></span>
              <span class="projectGridText">Travel Website</span>
            </a>
          </li>
          <li>
            <a class='projectGridCell' href="http://codepen.io/renestl/full/OyjYMQ/">
              <img class='projectGridImg' src="http://res.cloudinary.com/ronanland/image/upload/v1454013934/Screenshots/Random_Book_Quotes.png" alt="Random Quote Generator">
              <span class="projectGridOverlay"></span>
              <span class="projectGridText">Random Quote Generator</span>
            </a>
          </li>
          <li>
            <a class='projectGridCell' href="http://codepen.io/renestl/full/NxaBZy/">
              <img class='projectGridImg' src="http://res.cloudinary.com/ronanland/image/upload/v1454013934/Screenshots/Tip_Calculator.png" alt="Tip Calculator">
              <span class="projectGridOverlay"></span>
              <span class="projectGridText">Tip Calculator</span>
            </a>
          </li>
          <li>
            <a class='projectGridCell' href="http://codepen.io/renestl/full/MKdxMw">
              <img class='projectGridImg' src="http://res.cloudinary.com/ronanland/image/upload/v1455937213/Screenshots/Local_Weather_App.jpg" alt="Local Weather App">
              <span class="projectGridOverlay"></span>
              <span class="projectGridText">Local Weather App</span>
            </a>
          </li>
          <li>
            <a class='projectGridCell' href="http://codepen.io/renestl/full/rLapXw">
              <img class='projectGridImg' src="http://res.cloudinary.com/ronanland/image/upload/v1467180635/Pomodoro_Timer_bt8uv6.png" alt="Pomodoro Timer">
              <span class="projectGridOverlay"></span>
              <span class="projectGridText">Pomodoro Timer</span>
            </a>
          </li>
          <li>
            <a class='projectGridCell' href="http://codepen.io/renestl/full/PNYNGv">
              <img class='projectGridImg' src="http://res.cloudinary.com/ronanland/image/upload/v1467180635/Wikipedia_Article_Search_gqiy1b.png" alt="Wikipedia Article Search">
              <span class="projectGridOverlay"></span>
              <span class="projectGridText">Wikipedia Article Search</span>
            </a>
          </li>
          <li>
            <a class='projectGridCell' href="http://codepen.io/renestl/full/aNNMVd">
              <img class='projectGridImg' src="http://res.cloudinary.com/ronanland/image/upload/v1467180635/Twitch.tv_Streamers_qd33im.png" alt="Twitch.tv Streamers">
              <span class="projectGridOverlay"></span>
              <span class="projectGridText">Twitch.tv Streamers</span>
            </a>
          </li>
          <li>
            <a class='projectGridCell' href="http://codepen.io/renestl/full/mVaZOo">
              <img class='projectGridImg' src="http://res.cloudinary.com/ronanland/image/upload/v1455232853/Javascript_Calculator_v4upvt.png" alt="Javascript Calculator">
              <span class="projectGridOverlay"></span>
              <span class="projectGridText">Javascript Calculator</span>
            </a>
          </li>
          <li>
            <a class='projectGridCell' href="#">
              <img class='projectGridImg' src="http://res.cloudinary.com/ronanland/image/upload/v1454013411/Roadie/openessFB.jpg" alt="Placeholder">
              <span class="projectGridOverlay"></span>
              <span class="projectGridText">Placeholder</span>
            </a>
          </li>
          <li>
            <a class='projectGridCell' href="#">
              <img class='projectGridImg' src="http://res.cloudinary.com/ronanland/image/upload/v1454013411/Roadie/openessFB.jpg" alt="Placeholder">
              <span class="projectGridOverlay"></span>
              <span class="projectGridText">Placeholder</span>
            </a>
          </li>
          <li>
            <a class='projectGridCell' href="#">
              <img class='projectGridImg' src="http://res.cloudinary.com/ronanland/image/upload/v1454013411/Roadie/openessFB.jpg" alt="Placeholder">
              <span class="projectGridOverlay"></span>
              <span class="projectGridText">Placeholder</span>
            </a>
          </li>
          <li>
            <a class='projectGridCell' href="#">
              <img class='projectGridImg' src="http://res.cloudinary.com/ronanland/image/upload/v1454013411/Roadie/openessFB.jpg" alt="Placeholder">
              <span class="projectGridOverlay"></span>
              <span class="projectGridText">Placeholder</span>
            </a>
          </li>
        </ul>
      </section>

      <section id="skills">
        <h2>Skills</h2>
      </section>


      <section id="contact">
        <h2>Talk To Me!</h2>

        <h5>Jennifer Currie</h5>
        <section id="personalContact">
          <div> Phone Icon 314-246-9588
          </div>
          <div>Email Icon illogicalartist@gmail.com
          </div>
        </section>

        <section id="socialMedia">
          <a href="http://www.freecodecamp.com/renestl" target='_blank' role='button' class=''><i class='fa fa-fire'></i></a>
          <a href="https://github.com/Renestl" target='_blank' role='button' class=''><i class='fa fa-github'></i></a>
          <a href="http://codepen.io/renestl/" target='_blank' role='button' class=''><i class='fa fa-codepen'></i></a>
          <a href="https://linkedin.com/pub/jennifer-currie-mba-rhia/5/975/5a8" target='_blank' role='button' class=''><i class='fa fa-linkedin'></i></a>
        </section>
      </section>
    </div> <!-- id="content" -->

  </div><!-- id="container" -->

  <footer>
    <p class="copyright">Copyright &copy; Jennifer Currie &amp; Illogical Artist 2015 - 2016. All Rights Reserved.</p>
    <p>
      <a href="https://github.com/Renestl" target='_blank'>
        <i class="fa fa-github fa-fw"></i>
      </a>
    </p>
  </footer>

  <!-- jquery  -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <script src='https://use.fontawesome.com/a99060d49a.js'></script>

  <!-- Custom scripts -->
  <script src="client.js"></script>

</body>
</html>
